.post-label
{
    font-weight: 900;
    font-size: 25px;
}

.form-group
{
    margin: auto 10%;
    text-align: left;
}

.post-button
{
    margin-left: 72%;
}

.img
{
    height: 50px;
    width:50px;
    border-radius: 50%;
}

.post-div
{
    margin: 100%;
}