.div-class{
    text-align: left;
    padding-left: 2%;
}

#resources-for-competitive-programming{
    color: black;
}

.heading{
    font-size: 25px;
    margin-left: 2%;
}

.list-item{
    font-size: 15px;
    margin-left: 1%;
    
}